header-height = 55px

label-font-size = calc(12px + 0.390625vw)
label-font-size-big = calc(16px + 0.390625vw)
default-font-size = calc(18px + 0.390625vw)
default-font-size-big = calc(22px + 0.390625vw)
small-title-font-size = calc(22px + 0.390625vw)
small-title-font-size-big = calc(26px + 0.390625vw)
title-font-size = calc(28px + 0.390625vw)
title-font-size-big = calc(32px + 0.390625vw)
big-title-font-size = calc(38px + 0.390625vw)
big-title-font-size-big = calc(42px + 0.390625vw)
feed-loading-font-size = calc(36px + 0.390625vw)
feed-loading-font-size-big = calc(40px + 0.390625vw)

full-article-padding = 28px
article-padding = 88px
article-padding-big = 108px

article-width = 70ch
article-title-width = 60ch

light-color = #f3f3f3
dark-color = #252525
mid-color = #8C8C8C
accent-color = #3466ff
go-color = #11cd22
error-color = #ff3434
facebook-color = #3b5998
twitter-color = #1DA1F2 
linkedin-color = #0072B1


